/*-----------------------footer-----------------------*/
.foot{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 3px;
}

.foot_text{
    font-size: small;
    text-decoration: none;
}

.foot_divisor{
    margin-left: 4px;
    margin-right: 4px;
}
