/*-----------------------learning resources standard layout-----------------------*/
.resource_grid{
    margin: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 7px;
    align-items: center;
    justify-items: center;
}

.resource__item{
    display: flex;
    flex-direction: column;
}

.resource_image {
    max-width: $image-size;
    max-height: $image-size;
    grid-area: "rcs_image";
}

.resource_name {
    max-width: $image-size;
    text-decoration: none;
    grid-area: "rcs_name";
}
