/*-----------------------general text style-----------------------*/
.titles{
    color: $quaternary-color;
    font-size: 15px;
    font-weight: bold;
}

.paragraph{
    margin: 0px;
    font-size: 13px;
}

/*-----------------------index presentation-----------------------*/
#presentation_video{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.presentation_style{
    margin: 20px 100px 20px 100px;
}

#presentation_paragraph1{
    margin-top: 30px;
    display: grid;
    grid-template-areas: "aside article";
    align-items: center;
    grid-column-gap: 15px;
}

#presentation_paragraph2{
    margin-top: 45px;
    display: grid;
    grid-template-areas: "article aside";
    align-items: center;
}

.presentation_sofi-pic{
    max-width: $image-size*1.5;
    max-height: $image-size*1.5;
    border-radius: 20px;
}

/*-----------------------reviews-----------------------*/
.reviews_pic {
    position: relative;
    max-width: $image-size*3;
    max-height: $image-size*2;
    margin-top: 15px;
}