
$primary-color: #E5EAA4;
$secondary-color: #A8C4A2;
$tertiary-color: #66245B;
$quaternary-color: #69A5A4;
$image-size: 125px;

@font-face{
    font-family: 'Prata';
    src: url(./Images-n-fonts/Prata-Regular.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    }

body{
    background-color: $primary-color;
    font-family: Helvetica, serif;
}

a{
    color: inherit;
    text-decoration: none;
}

/*-----------------------header-----------------------*/
header{
    margin: 10px;
}

.header_motto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Prata', serif;
    font-size: x-large;
    font-weight: bolder;
    margin: 0px;
}


@import "styles-mobile.scss";
@import "rsc-mobile.scss";

@import "nav.scss";

.book_me{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#book_me_button{
    color: white;
    background-color: $tertiary-color;
    border: $secondary-color;
    border-style: solid;
    padding: 15px;
    &:hover{
        background-color: $quaternary-color;
    }
}

@media screen and (min-width: 600px){
    @import "styles-tablet.scss";
    @import "rsc-tablet.scss";
}
@media screen and (min-width: 1024px){
    @import "styles-desktop.scss";
    @import "rsc-desktop.scss";
}
@import "formular.scss";
@import "footer.scss"